<section class="projects" id="projects" data-nav-index="3">
    <div class="container box">
        <h2 class="projects__heading">Projects</h2>
        <div class="projects__highlights">
            <div data-aos="fade-up" class="projects__card" data-target="#project-1">
                <div class="projects__body">
                    <img src="dist/images/redbullmm-web.png" alt="" class="projects__img">
                </div>
            </div>
            <div data-aos="fade-up" class="projects__card" data-target="#project-2">
                <div class="projects__body">
                    <img src="dist/images/rt-web.png" alt="" class="projects__img">
                </div>
            </div>
            <div data-aos="fade-up" class="projects__card" data-target="#project-3">
                <div class="projects__body">
                    <img src="dist/images/sunkist-web.png" alt="" class="projects__img">
                </div>
            </div>
        </div>
        <div class="projects__others">
            
        </div>
    </div>
</section>